{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1> Group update </h1>
{% endblock %}
{% block main %}
    <form method='post'>
        {% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Update">
    </form>
    <br>
<h1> Students </h1>
    {% with students=group.students.all %}
        {% include 'includes/students-table.html' %}
    {% endwith %}
<h1> Teachers </h1>
    {% with teachers=group.teachers.all %}
            {% include 'includes/teachers-table.html' %}
    {% endwith %}



{% endblock %}
{% block info %}
<h2> You're updating groups there! </h2>
{% endblock %}

