{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1> Groups list </h1>
{% endblock %}
{% block main %}
    <div class="p-3 m-3">
            <form method='get'>
                {% csrf_token %}
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-primary" value="Search">
                <a class="btn btn-danger" href="{% url 'groups:list' %}">Reset</a>
            </form>
        </div>

    <br>

<!--    <table class="table table-striped table-hover">-->
<!--      <tr>-->
<!--        <th>Group name</th>-->
<!--        <th>Project</th>-->
<!--        <th>Students amount</th>-->
<!--        <th>Teachers</th>-->
<!--        <th>Headman</th>-->
<!--        <th>✎</th>-->
<!--        <th>🗑</th>-->
<!--      </tr>-->
<!--        {% for group in filter.qs %}-->
<!--              <tr>-->
<!--                <td>{{ group.name }}</td>-->
<!--                <td>{{ group.project_name }}</td>-->
<!--                <td>{{ group.students_amount }}</td>-->
<!--                <td>{% for teacher in group.teachers.all %}-->
<!--                  {{teacher}};-->
<!--                  {% endfor %}</td>-->
<!--                <td>{{ group.headman }}</td>-->
<!--                <td><a href='{% url "groups:update" group.id %}'>UPDATE</a></td>-->
<!--                <td><a href='{% url "groups:delete" group.id %}'>DELETE</a></td>-->
<!--              </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
        {% include 'includes/groups-table.html' %}
        {% include 'includes/paginator.html' %}
{% endblock %}
{% block info %}
<h2> You're seeing groups there! </h2>
{% endblock %}