{% extends 'base.html' %}

{% block header %}
    <h1> Group delete </h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}
      <h3>Do you want really to delete group of {{ group.teacher }} and {{ group.teacher }}?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'groups:list' %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}
{% block info %}
<h2> You're deleting groups there! </h2>
{% endblock %}

