{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> User has been logged out </h1>
{% endblock %}

{% block main %}
    <a href = "{% url 'index' %}">Home</a>
    <a href = "{% url 'accounts:login' %}">Login</a>
{% endblock %}

