<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>LMS</title>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark bg-primary font-weight-bold ">

    <div class="container">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'students:list' %}">LMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'students:list' %}">Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'teachers:list' %}">Teachers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'groups:list' %}">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'students:list' %}">About us</a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile' %}">Profile ({{ user.username }})</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Log out</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:profile' %}"><img class="rounded-circle p-1 m-1"  src="{{user.profile.image.url}}" width="40px"></a>
                    </li>
                {% else %}

                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'accounts:registration' %}">Registration</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Log in</a>
                    </li>

                {% endif %}
            </ul>

      </div>
    </div>


</nav>


    <div class="container">

        {% include 'includes/messages.html' %}

        <div class="border rounded text-center p-3 m-3 bg-light text-dark">
            {% block header %}
                <h1> Welcome to LMS! </h1>
            {% endblock %}
        </div>

        {% block main %}
        {% endblock %}
    </div>

</body>
</html>
