{% extends 'base.html' %}

{% block header %}
    <h1> Teacher delete </h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}
      <h3>Do you really want to delete {{ teacher.first_name }} {{ teacher.last_name }}?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'teachers:list' %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}
{% block info %}
<h2> You're deleting teachers there! </h2>
{% endblock %}

