{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1> Teachers list </h1>
{% endblock %}
{% block main %}
    <div class="p-3 m-3">
            <form method='get'>
                {% csrf_token %}
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-primary" value="Search">
                <a class="btn btn-danger" href="{% url 'teachers:list' %}">Reset</a>
            </form>
        </div>

    <br>

<!--    <table class="table table-striped table-hover">-->
<!--      <tr>-->
<!--        <th>№</th>-->
<!--        <th>First name</th>-->
<!--        <th>Last name</th>-->
<!--        <th>Age</th>-->
<!--        <th>Group</th>-->
<!--        <th>✎</th>-->
<!--        <th>🗑</th>-->
<!--      </tr>-->

<!--        {% for teacher in filter.qs %}-->
<!--              <tr>-->
<!--                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>-->
<!--                <td>{{ teacher.first_name }}</td>-->
<!--                <td>{{ teacher.last_name }}</td>-->
<!--                <td>{{ teacher.age }}</td>-->
<!--                <td>{{ teacher.group.name }}</td>-->
<!--                <td><a href='{% url "teachers:update" teacher.id %}'>UPDATE</a></td>-->
<!--                <td><a href='{% url "teachers:delete" teacher.id %}'>DELETE</a></td>-->
<!--              </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
                    {% include 'includes/teachers-table.html' %}
                    {% include 'includes/paginator.html' %}
{% endblock %}
{% block info %}
<h2> You're seeing teachers there! </h2>
{% endblock %}
