{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1> Student update </h1>
{% endblock %}
{% block main %}
    <form method='post'>
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" class="btn btn-success" value="Update">
    </form>
{% endblock %}
{% block info %}
<h2> You're updating students there! </h2>
{% endblock %}