{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
    <h1> Student create </h1>
{% endblock %}
{% block main %}
    <form method='post'>
        {% csrf_token %}
        {{form|crispy}}
      <input type="submit" value="Create">
    </form>
{% endblock %}
{% block info %}
<h2> You're creating students there! </h2>
{% endblock %}