{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Student list </h1>
{% endblock %}


{% block main %}

        <div class="p-3 m-3">
            <form method='get'>
                {% csrf_token %}
                {{ filter.form|crispy }}

                <input type="submit" class="btn btn-primary" value="Search">
                <a class="btn btn-danger" href="{% url 'students:list' %}">Reset</a>
            </form>
        </div>


    <br>

<!--    <table class="table table-striped table-hover">-->
<!--      <tr>-->
<!--        <th>First name</th>-->
<!--        <th>Last name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Age</th>-->
<!--        <th>Group</th>-->
<!--        <th>✎</th>-->
<!--        <th>🗑</th>-->
<!--      </tr>-->

<!--          {% for student in filter.qs %}-->
<!--              <tr>-->
<!--                <td>{{ student.first_name }}</td>-->
<!--                <td>{{ student.last_name }}</td>-->
<!--                <td>{{ student.email }}</td>-->
<!--                <td>{{ student.age }}</td>-->
<!--                <td>{{ student.group.name }}</td>-->
<!--                <td><a href='{% url "students:update" student.id %}'>UPDATE</a></td>-->
<!--                <td><a href='{% url "students:delete" student.id %}'>DELETE</a></td>-->
<!--              </tr>-->
<!--        {% endfor %}-->

<!--    </table>-->
<!--    {% with students=object_list %}-->
        {% include 'includes/students-table.html' %}
        {% include 'includes/paginator.html' %}
<!--    {% endwith %}-->
{% endblock %}
{% block info %}
<h2> You're seeing students there! </h2>
{% endblock %}