<table class="table table-striped table-hover">
      <tr>
        <th>№</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Group</th>
        <th>✎</th>
        <th>🗑</th>
      </tr>

        {% for teacher in teachers %}
              <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.group.name }}</td>
                <td><a href='{% url "teachers:update" teacher.id %}'>UPDATE</a></td>
                <td><a href='{% url "teachers:delete" teacher.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}
</table>