<table class="table table-striped table-hover">
      <tr>
        <th>№</th>
        <th>Group name</th>
        <th>Project</th>
        <th>Students amount</th>
        <th>Teachers</th>
        <th>Headman</th>
        <th>✎</th>
        <th>🗑</th>
      </tr>
        {% for group in groups %}
              <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.project_name }}</td>
                <td>{{ group.students_amount }}</td>
                <td>{% for teacher in group.teachers.all %}
                  {{teacher}};
                  {% endfor %}</td>
                <td>{{ group.headman }}</td>
                <td><a href='{% url "groups:update" group.id %}'>UPDATE</a></td>
                <td><a href='{% url "groups:delete" group.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}
    </table>