{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <form method='post'>
        {% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Update">
    </form>
{% endblock %}
{% block info %}
<h2> You're updating teachers there! </h2>
{% endblock %}