{% extends 'base.html' %}
{% block header %}
    <h1> Classrooms list </h1>
{% endblock %}
{% block main %}
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>✎</th>
        <th>🗑</th>
      </tr>

        {% for class in classroom %}
              <tr>
                <td>{{ class.name }}</td>
                <td><a href='{% url "classrooms:update" class.id %}'>UPDATE</a></td>
                <td><a href='{% url "classrooms:delete" class.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}

    </table>
{% endblock %}
{% block info %}
<h2> You're seeing classrooms there! </h2>
{% endblock %}
